*.o
.vscode
Makefile
CMakeFiles
cmake_install.cmake
CMakeCache.txt
runAllTests
a.out
make_install.cmake
lib/
src/cmake_install.cmake
tests/cmake_install.cmake
tests/googletest/googletest/generated/
lib/libgmock.a
lib/libgtest.a
lib/libgtest_main.a
lib/libsimpleLibrary.a
tests/cmake_install.cmake
.gitmodules